<!-- Navbar Part Start -->
<nav id="nav-part" class="navbar navbar-expand-md navbar-light sticky-top">
  <div class="container p-0">
    <a class="navbar-brand" href="index-2.html"
      ><img src="/images/logo.png" alt="logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#banner"
            >Home<span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#history">Kỷ niệm</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#proposal">Tình yêu</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#gallery">Hình ảnh</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#offer">Video</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar Part End -->
