<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>Happy Anniversary 2 months</title>
    <% include ./partials/css %>
  </head>
  <body data-spy="scroll" data-target="#nav-part" data-offset="90">
    <div class="preloader"><img src="/images/preloader.gif" alt="" /></div>

    <% include ./partials/navbar %>

    <!-- Banner Part Start -->
    <section id="banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-5 pl-0">
            <div class="banner-img">
              <img src="/images/children.png" class="img-fluid" alt="" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-7 pr-0 tahsan4">
            <div class="banner-text text-center justify-content-end">
              <h3>Happy</h3>
              <h2>Valentine Day</h2>
              <p>
                Xuân này anh không còn cô đơn nữa, vì đã có em. Cảm ơn em! Người
                mang cho anh niềm vui trong cuộc sống và hứng khởi trong công
                việc. Năm mới chúc em luôn xinh tươi, yêu đời, thành công trong
                cuộc sống. Anh sẽ luôn bên em!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Banner Part End -->

    <!-- History Part Start -->
    <section id="history">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-5">
            <img src="/images/about-left-img.png" class="img-fluid" alt="" />
          </div>

          <div class="col-lg-6 col-md-7">
            <div class="heading">
              <h3>Kỷ niệm</h3>
              <h2>Tình yêu</h2>
            </div>
            <div class="history-details">
              <p>
                Cậu còn nhớ ngày 04/12/2018 là ngày gì không? Đó là ngày đầu
                tiên, sau bao nhiêu thời gian mà tụi mình nói chuyện với nhau và
                chợt tớ nhận ra rằng. Tớ đã thích cậu mất rồi, tớ thích cậu bởi
                ánh mặt hiền diệu kèm thêm nụ cười lôi cuốn của cậu mỗi khi tụi
                mình gặp nhau.
              </p>
              <p>
                Chuyện gì đến cũng sẽ đến, đó là ngày đầu tiên tớ ngỏ lời yêu
                với cậu trong một buổi tối lãng mạn ở trong Ký túc xã khu A. Tối
                hôm đó là 1 buổi tối thật tuyệt vời khi 2 con người xa lạ bổng
                trở nên thân quen. Đó là khi tớ nhận ra rằng, tớ không chỉ còn
                là 1 người bạn, mà còn là một bờ vai khi em muốn khóc, mượn tai
                anh khi em muốn tâm sự, mượn tay anh để em xiết chặt, mượn đôi
                chân anh để đi cùng em, nhưng anh không thể cho em mượn trái tim
                anh được vì nó đã thuộc về em rồi mà.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- History Part End -->

    <!-- Gift and Proposal Part start -->
    <section id="proposal">
      <div class="container">
        <div class="row">
          <div class="col-11 ml-auto col-md-12 col-sm-12">
            <div class="row">
              <div class="col-lg-7">
                <div class="proposal-content">
                  <div class="heading2">
                    <h3>Valentine</h3>
                    <h2>Thời gian để yêu</h2>
                  </div>
                  <div class="proposal-details">
                    <p>
                      Tình yêu đẹp không phải lúc nào cũng phải nồng cháy, mãnh
                      liệt mà đôi khi là những giây phút giản đơn bên nhau. Hạnh
                      phúc chẳng cần phải đến từ những điều thật to tát, lộng
                      lẫy mà ngay cả những hành động đơn giản cũng có thể khiến
                      cho chúng ta cảm thấy vui vẻ, bình yên lạ kì.
                    </p>
                    <p>
                      Và sau tất cả, tình yêu là cảm thấy hạnh phúc bên người mà
                      mình đã chọn, toàn tâm toàn ý muốn được ở cạnh người ấy
                      đến mãi mãi
                    </p>
                    <div class="button"></div>
                  </div>
                </div>
              </div>
              <div class="gift">
                <div class="gift-img">
                  <img src="/images/gift-img.png" class="img-fluid" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Gift and Proposal Part End -->

    <!-- Gallery Part start -->
    <section id="gallery">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-4">
                <div class="gallery-img">
                  <img src="/images/gallary-img.jpg" class="img-fluid" alt="" />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="gallery-img">
                  <img
                    src="/images/gallary-img1.jpg"
                    class="img-fluid"
                    alt="gallery-img1"
                  />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="gallery-img">
                  <img
                    src="/images/gallary-img2.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="gallery-img">
                  <img
                    src="/images/gallary-img3.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="gallery-img">
                  <img
                    src="/images/gallary-img4.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="gallery-img">
                  <img
                    src="/images/gallary-img5.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Gallery Part End -->

    <!-- Offer & Sevice Part Start -->
    <section id="offer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="services">
              <div class="row">
                <div class="col-lg-12">
                  <center>
                    <iframe
                      width="560"
                      height="315"
                      src="https://www.youtube.com/embed/U1VcEgS0XkQ?controls=0"
                      frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    ></iframe>
                  </center>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Offer & Sevice Part End -->

    <% include ./partials/js %>
  </body>
</html>
